@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

body {
  font-family: "Comfortaa", cursive;
}

.container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hex-colors {
  width: 100%;
  text-align: center;
}

.hex-colors h1 {
  text-transform: uppercase;
  font-size: 2rem;
  animation: colorchange 5s infinite alternate;
}

.hex-colors h2 {
  margin-top: 15%;
  font-size: 2rem;
}
